* {
    box-sizing: border-box;
}

.calculator {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width:400px;
    text-align:center;
    min-height: 60vmin;  
    font-size:35px;
    font-family:Arial, Helvetica, sans-serif;  
    box-shadow: -5px 4px 23px -8px rgba(0,0,0,0.75);
}

.row {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content:center;
    border-bottom:2px solid black;
}

.left-button {
    background-color:#d8d9db;
    border-right: 2px solid black;
    color:black;   
}

.right-button {
    color:white;
    background-color:#df974c;  
}
.button {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100px;
    text-align: center;
    width:25%;  
}
.left-button:hover {
    background-color: #ebebeb;
}
.left-button:active {
    background-color: #bbbcbe;
}

.right-button:hover {
    background-color: #dfb07e;
  }
  
.right-button:active {
    background-color: #dd8d37;
  }
.triple {
    width: 75%;
}

.display {
    height:75px;
    display:flex;
    justify-content:flex-end;
    align-items: flex-end;
    flex-direction:row;
    width:100%;
    color:white;
    padding: 10px;
    background-color: black;
    font-size:35px;
    font-family:'Courier New', Courier, monospace;
}

.last {
    border-bottom: none;
}

